* {
  font-weight: lighter;
}

html, body {
  background: #1e1e23;
  height: 100%;
  width: 100%;
}

#main-container {
  text-align: center;
  color: #fff;
}

#config-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 10;
  top: 25px;
  right: 30px;

  cursor: pointer;
  color: #fff;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 60px;
}

/* styles of forecast */
[ch-scope="forecastScope"] {
  position: absolute;
  z-index: 20;
  top: 50px;
  bottom: 10px;
  left: 0px;
  right: 0px;
  text-align: center;

  animation: bounceup 0.3s;
  -webkit-animation: bounceup 0.3s;
}

@keyframes bounceup {
  from {top: -500px;}
  to {top: 50px;}
}

@-webkit-keyframes bounceup {
  from {top: -500px;}
  to {top: 50px;}
}

#forecast-list {
  display: table;
  list-style: none;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  text-align: left;
  background: #535361;
}


.forecast-item {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.day {
  display: inline-block;
  width: 50px;
  color: #febb33;
  font-weight: bold;
}

.forecast-low, .forecast-high {
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  color: #28acf3;
  font-weight: bold;
}

.forecast-icon img {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

textarea#location-text {
  margin-top: 10px;
  width: 70%;
  height: 200px;
  color: #000;
}

#nav-div {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  right: 30px;
}

.nav-btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  margin-left: 10px;

  padding: 10px 7px;
  border: 1px solid #fff;
  border-radius: 60px;
  cursor: pointer;
}

.weather-item {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  list-style: none;

  background: #424242;

  margin: 0;
  padding: 0;
  padding-top: 150px;

  animation: slidein 0.7s;
  -webkit-animation: slidein 0.7s;
}

@keyframes slidein {
  from {top: -500px;}
  to {top: 0px;}
}

@-webkit-keyframes slidein {
  from {top: -500px;}
  to {top: 0px;}
}

.info {
  padding-top: 15px;
}

.name {
  font-size: 25px;
  font-weight: lighter;
}

.name::first-letter {
  font-size: 200%;
}

.temp {
  font-size: 50px;
  font-weight: bold;
}

.text {
  font-size: 20px;
  font-weight: bold;
}

/*Styles for Details Template*/
[ch-scope="configScope"] {
  text-align: center;
  overflow: auto;
  background: #2f435b;

  position: absolute;
  padding-top: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#location-list {
  display: table;
  margin: 0 auto;
  list-style: none;
  text-align: left;
  width: 300px;
  padding: 0;
}

.location-item {
  background: #306bab;
  padding: 15px 10px 15px 0px;
}

.location-remove {
  background: #b12420;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.location-name {
  background: #306bab;
  padding: 10px;
}

#input-bar {
  margin: 10px;
}

#location-input {
  width: 200px;
  border-radius: 0px;
  margin: 0;
  background: transparent;
  border: none;
  border-bottom: 3px solid #c73d17;
  color: #000;
  font-size: 20px;
  transition: background 0.3s;
}

#location-input:focus, #location-input:active {
  outline: none;
  box-shadow: none;
  border-bottom: 3px solid #e2772c;
  background: #fff;
}

#add-btn {
  cursor: pointer;
  background: #d34218;
  padding: 10px 20px 8px 20px;
  text-transform: uppercase;
}



/* Styles for weather symbols */

.mostly-sunny, .sunny, .clear, .fair {
  background: #ec5451;
}

.mostly-cloudy, .cloudy {
  background: #453556;
}

.partly-cloudy {
  background: #e4803c;
}

.mist, .fog, .haze, .smoke {
  background: #29496a;
}

.showers, .rain, .drizzle, .snow, .light-rain-shower, .light-rain, .light-drizzle {
  background: #5997b9;
}